@import "../../../scss/vars";
@import "../../../scss/mixins";

.fs-wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  background-color: black;
  position: relative;
}

.main-video {
  height: 100vh;
  width: 100vw;
  z-index: -10;
}
// Player Toggle Button Styles
.fs-toggle-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  z-index: 10;
  @include respond-to($phone-md) {
    padding: 10px 5px;
  }
  @include respond-to($tablet-sm) {
    padding: 15px 5px;
  }
}
.toggle-btn {
  color: $off-white;
  border: 2px solid $primary;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
  margin: 2.5px 0;
  transition: background-color ease-in-out .4s;
  transition: border ease-in-out .5s;
  background-color: rgba(0,0,0,0);
  &:hover {
    background-color: rgba(178,255,89,.3);
    border: 2px solid $accent;
    color: white;
  }
}
.btn-selected {
  background-color: rgba(178,255,89,.3);
  border: 2px solid $accent;
}
.fs-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  border: 2px solid $primary;
  transition: background-color ease-in-out .4s;
  transition: border ease-in-out .5s;
  background-color: rgba(0,0,0,0);
  color: $off-white;
  display: flex;
  justify-content: center;
  align-items: center;
  @include size(60px);
  cursor: pointer;
  &:hover {
    background-color: rgba(178,255,89,.3);
    border: 2px solid $accent;
    color: white;
  }
}