@import "../../../scss/vars";
@import "../../../scss/mixins";
// Store Container
.store-container {
  // border: $tb-red;
  padding: 10px;
  @include respond-to($phone-lg) {
    padding: 20px;
  }
}
// Hero Container
.store-hero {
  @include size(100%, 200px);
  background-image: url('../../../assets/banner-ad-1.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  @include respond-to($tablet-sm) {
    height: 250px;
  }
  @include respond-to($tablet-lg) {
    height: 300px;
  }
}
// Card Wrapper
.store-item-wrapper {
  // border: $tb-lime;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  @include respond-to($tablet-md) {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 0;
  }
}
// Card Styles
.store-card {
  max-width: 250px;
  margin: 10px 0;
  @include respond-to($phone-lg) {
    max-width: 300px;
  }
  @include respond-to($tablet-sm) {
    max-width: 350px;
  }
  @include respond-to($tablet-md) {
    max-width: 250px;
    margin: 20px;
  }
  @include respond-to($tablet-lg) {
    max-width: 300px;
  }
}
.price {
  color: $danger;
}
.btn-wrapper {
  margin: 0;
}
.buy-btn {
  color: $off-white;
}
.banner-ad {
  height: 75px;
  width: 100%;
  @include respond-to($phone-md) {
  }
  @include respond-to($phone-lg) {
  }
  @include respond-to($tablet-sm) {
    height: 125px;
  }
}