@import '../../../scss/vars';
@import '../../../scss/mixins';

.navbar {
  padding: 20px 20px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 32px;
  color: $off-white;
}

.brand-logo {
  @include size(45px);
  border: $tb-red;
}

.menu-btn {
  color: $off-white;
  padding: 0 !important;
}