<div class="navbar">
  <!-- Logo -->
  <!-- <div class="brand-logo">
    Logo
  </div> -->
  <!-- Dropdown Nav Button -->
  <!-- <div class="btn-wrapper">
    <button class="menu-btn" mat-raised-button [matMenuTriggerFor]="menu" color="primary">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="">Home</button>
      <button mat-menu-item routerLink="store">Store</button>
    </mat-menu>
  </div> -->
  <div class="logo">Team Toggle</div>
</div>
