@import '../../../scss/vars';
@import '../../../scss/mixins';

.navbar {
  border: $tb-lime;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-logo {
  @include size(45px);
  border: $tb-red;
}

.btn-wrapper {
  
}

.menu-btn {
  color: $off-white;
  padding: 0 !important;
}