@import '../../../scss/vars';
@import '../../../scss/mixins';

.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: $dark-grey;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  @include respond-to($tablet-sm) {
    height: 100px;
    padding: 0 20px;
  }
}
.banner-ad {
  height: 40px;
  width: 175px;
  @include respond-to($phone-md) {
    width: 200px;
    height: 50px;
  }
  @include respond-to($phone-lg) {
    height: 60px;
  }
  @include respond-to($tablet-sm) {
    height: 80px;
    width: 400px;
  }
}
.logo {
  @include size(40px);
  @include respond-to($phone-md) {
    @include size(45px);
  }
  @include respond-to($phone-lg) {
    @include size(50px);
  }
  @include respond-to($tablet-sm) {
    @include size(60px);
  }
}
.store-btn {
  @include size(40px);
  i {
    color: $off-white;
  }
  @include respond-to($phone-md) {
    @include size(45px);
  }
  @include respond-to($phone-lg) {
    @include size(50px);
  }
  @include respond-to($tablet-sm) {
    @include size(60px);
  }
}

