@import "../../../scss/vars";
@import "../../../scss/mixins";
.nav-wrapper {
  width: 100%;
}
// Home Container Styles
.home-container {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.content-wrapper {
  background-image: url('../../../assets/controller.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 100%;
  overflow: hidden;
  position: relative;
  @include respond-to($desktop-sm) {
    height: 65%;
  }
}
.video-confirm-btn {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.5);
}

.watch-btn {
  padding: 10px 20px !important;
  font-size: 14px !important;
}

.video-player {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-video {
  height: 250px;
  width: 100%;
  z-index: 20;
  @include respond-to($phone-md) {
    height: 275px;
  }
  @include respond-to($phone-lg) {
    height: 300px;
  }
  @include respond-to($tablet-sm) {
    height: 300px;
  }
  @include respond-to($tablet-lg) {
    height: 350px;
  }
  @include respond-to($desktop-md) {
    height: 400px;
  }
}
// Player Toggle Button Styles
.toggle-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  @include respond-to($phone-md) {
    padding: 10px 5px;
  }
  @include respond-to($tablet-sm) {
    padding: 15px 5px;
  }
}
.toggle-btn {
  color: $off-white;
  border: 2px solid $primary;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  margin: 2.5px 0;
  transition: background-color ease-in-out .4s;
  transition: border ease-in-out .5s;
  background-color: rgba(0,0,0,0);
  &:hover {
    background-color: rgba(178,255,89,.3);
    border: 2px solid $accent;
    color: white;
  }
}
.fs-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  border: 2px solid $primary;
  transition: background-color ease-in-out .4s;
  transition: border ease-in-out .5s;
  background-color: rgba(0,0,0,0);
  color: $off-white;
  display: flex;
  justify-content: center;
  align-items: center;
  @include size(40px);
  cursor: pointer;
  &:hover {
    background-color: rgba(178,255,89,.3);
    border: 2px solid $accent;
    color: white;
  }
  @include respond-to($phone-md) {
    @include size(45px);
  }
  @include respond-to($phone-lg) {
    @include size(50px);
  }
  @include respond-to($tablet-sm) {
    @include size(60px);
    top: 20px;
    right: 20px;
  }
}
.chat-wrapper {
  width: 100%;
  height: 40%;
  text-align: center;
  @include respond-to($desktop-sm) {
    height: 35%;
  }
}
// Action Button Styles
// .action-btn-wrapper {
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 10px 0;
//   margin: 10px 0;
//   @include respond-to($tablet-md) {
//     @include size(75px, 100%);
//     flex-direction: column;
//     justify-content: flex-start;
//     padding: 0 10px;
//     margin: 0;
//   }
// }
// .action-btn {
//   margin: 10px 0;
//   cursor: pointer;
//   color: $primary;
//   @include respond-to($tablet-md) {
//     margin-bottom: 10px;
//     margin-top: 0;
//   }
//   i {
//     font-size: 48px;
//   }
// }
// .action-btn:nth-of-type(2) {
//   i {
//     color: $light-grey;
//   }
//   .favorite {
//     color: $danger;
//   }
// }
// Content Wrapper Styles



// Video Wrapper Styles
// .video-player {
//   @include size(100%, 200px);
//   // background-color: orange;
//   text-align: center;
//   margin: 10px 0;
//   @include respond-to($phone-lg) {
//     height: 250px;
//   }
//   @include respond-to($tablet-sm) {
//     height: 300px;
//   }
//   @include respond-to($tablet-md) {
//     margin: 0;
//     height: 350px;
//   }
//   @include respond-to($desktop-sm) {
//     height: 450px;
//   }
//   @include respond-to($desktop-md) {
//     height: 550px;
//   }
//   .watch-btn {
//     color: $off-white;
//     border: $tb-orange;
//     top: 45%;
//   }
// }
// Full-Screen Video Wrapper Styles
// .video-player-fs {
//   position: fixed;
//   right: 0;
//   bottom: 0;
//   min-width: 100%;
//   min-height: 100%;
// }
// .main-video {
//   height: 100%;
//   width: 100%;
// }
// Player Toggle Button Styles
// .toggle-wrapper {
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   flex-wrap: wrap;
//   margin: 10px 0;
//   .toggle-btn {
//     color: $off-white;
//     border: $tb-orange;
//     margin: 5px;
//     @include respond-to($tablet-md) {
//       margin: 10px;
//     }
//   }
// }
// // Ad Space Styles
// .ad-space {
//   @include size(100%, 75px);
//   background-color: cyan;
//   color: white;
//   text-align: center;
//   margin: 10px 0;
//   @include respond-to($tablet-md) {
//     height: 150px;
//     margin: 0;
//   }
// }
// Chat Wrapper Styles
