

<div class="home-container">

  <!-- Nav Bar Component -->
  <div class="nav-wrapper">
    <app-navbar></app-navbar>
  </div>

  <!-- Video Player, Toggle Buttons, Ad Space -->
  <div class="content-wrapper">
  
    <!-- Ready Content/Rotate Device content -->
    <div class="video-confirm-btn" *ngIf="!interactionConfirmed">
      <button mat-raised-button color="primary" class="watch-btn" (click)="confirmInteraction()">
        Ready to watch?
      </button>
    </div>

    <!-- Video Player -->
    <div *ngIf="interactionConfirmed">
      <div class="video-player" *ngFor="let key of vids | keys; let i = index" [hidden]="i != selectedVidIndex">
        <video class="main-video" loop playsinline>
          <source type="video/mp4" [src]="vids[key]">
            Your browser does not support HTML5 video tags. Please use a newer browser.
        </video>
      </div>
    </div>

    <!-- Change Streamer Buttons -->
    <div class="toggle-wrapper" *ngIf="interactionConfirmed">
      <button class="toggle-btn" *ngFor="let key of vids | keys; let i = index" (click)="pickVid(i)">
        {{key}}
      </button>
    </div>

    <!-- Full screen button -->
    <button class="fs-btn" *ngIf="interactionConfirmed">
      <i class="material-icons">aspect_ratio</i>
    </button>

  </div>

  <!-- Chat Wrapper -->
  <div class="chat-wrapper">
    <app-chat-box></app-chat-box>
  </div>

</div>


<!-- Action Buttons -->
  <!-- <div class="action-btn-wrapper">
    <a class="action-btn">
      <i class="material-icons">share</i>
    </a>
    <a class="action-btn"
       (click)="setFavorite()">
      <i class="material-icons"
         [ngClass]="{'favorite': isFavorite}">{{favoriteIcon}}</i>
    </a>
    <a class="action-btn"
       routerLink="/store">
      <i class="material-icons">store</i>
    </a>
    <a class="action-btn">
      <i class="material-icons">monetization_on</i>
    </a>
    <a class="action-btn"
       (click)="toggleFsMode()">
      <i class="material-icons">all_out</i>
    </a>
  </div> -->

  <!-- Ready Content/Rotate Device content -->
    <!-- <div class="video-player" *ngIf="!interactionConfirmed">
      <button mat-raised-button color="primary" class="watch-btn" (click)="confirmInteraction()">
        Ready to watch?
      </button>
    </div> -->
    <!-- Video Player -->
    <!-- <div *ngIf="interactionConfirmed">
      <div class="video-player" *ngFor="let key of vids | keys; let i = index" [hidden]="i != selectedVidIndex">
        <video class="main-video" loop>
          <source type="video/mp4" [src]="vids[key]">
            Your browser does not support HTML5 video tags. Please use a newer browser.
        </video>
      </div>
    </div> -->
    <!-- Change Streamer Buttons -->
    <!-- <div class="toggle-wrapper" *ngIf="interactionConfirmed">
      <button mdat-raised-button color="primary" class="toggle-btn" *ngFor="let key of vids | keys; let i = index" (click)="pickVid(i)">
        {{key}}
      </button>
    </div> -->
    <!-- Ad Space -->
    <!-- <div class="ad-space">
      Ad Space
    </div> -->
