@import "../../../scss/vars";
@import "../../../scss/mixins";
.nav-wrapper {
  width: 100%;
}
// Home Container Styles
.home-container {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
// Content
.content-wrapper {
  background-image: url('../../../assets/controller.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 100%;
  overflow: hidden;
  position: relative;
  @include respond-to($desktop-sm) {
    height: 65%;
  }
}
// Confirm container and button
.video-confirm-btn {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.5);
}
.watch-btn {
  padding: 10px 20px !important;
  font-size: 14px !important;
}
// Video Styles
.video-player {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-video {
  height: 250px;
  width: 100%;
  z-index: 20;
  @include respond-to($phone-md) {
    height: 275px;
  }
  @include respond-to($phone-lg) {
    height: 300px;
  }
  @include respond-to($tablet-sm) {
    height: 300px;
  }
  @include respond-to($tablet-lg) {
    height: 350px;
  }
  @include respond-to($desktop-md) {
    height: 400px;
  }
}
// Player Toggle Button Styles
.toggle-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  @include respond-to($phone-md) {
    padding: 10px 5px;
  }
  @include respond-to($tablet-sm) {
    padding: 15px 5px;
  }
}
.toggle-btn {
  color: $off-white;
  border: 2px solid $primary;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  margin: 2.5px 0;
  transition: background-color ease-in-out .4s;
  transition: border ease-in-out .5s;
  background-color: rgba(0,0,0,0);
  &:hover {
    background-color: rgba(178,255,89,.3);
    border: 2px solid $accent;
    color: white;
  }
}
.btn-selected {
  background-color: rgba(178,255,89,.3);
  border: 2px solid $accent;
}
// Fullscreen Button
.fs-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  border: 2px solid $primary;
  transition: background-color ease-in-out .4s;
  transition: border ease-in-out .5s;
  background-color: rgba(0,0,0,0);
  color: $off-white;
  display: flex;
  justify-content: center;
  align-items: center;
  @include size(40px);
  cursor: pointer;
  &:hover {
    background-color: rgba(178,255,89,.3);
    border: 2px solid $accent;
    color: white;
  }
  @include respond-to($phone-md) {
    @include size(45px);
  }
  @include respond-to($phone-lg) {
    @include size(50px);
  }
  @include respond-to($tablet-sm) {
    @include size(60px);
    top: 20px;
    right: 20px;
  }
}
// Chat container styles
.chat-wrapper {
  width: 100%;
  height: 40%;
  text-align: center;
  @include respond-to($desktop-sm) {
    height: 35%;
  }
}
