@import "../../../scss/vars";
@import "../../../scss/mixins";
.nav-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}
// Home Container Styles
.home-container {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}
.content-wrapper {
  background-color: yellow;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 46%;
  @include respond-to($phone-md) {
    height: 50%;
  }
  @include respond-to($tablet-sm) {
    height: 52%;
    top: 100px;
  }
  @include respond-to($desktop-sm) {
    height: 56%;
  }
}
.chat-wrapper {
  width: 100%;
  height: 40%;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  // opacity: .5;
  @include respond-to($desktop-sm) {
    height: 35%;
  }
}
// Action Button Styles
// .action-btn-wrapper {
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 10px 0;
//   margin: 10px 0;
//   @include respond-to($tablet-md) {
//     @include size(75px, 100%);
//     flex-direction: column;
//     justify-content: flex-start;
//     padding: 0 10px;
//     margin: 0;
//   }
// }
// .action-btn {
//   margin: 10px 0;
//   cursor: pointer;
//   color: $primary;
//   @include respond-to($tablet-md) {
//     margin-bottom: 10px;
//     margin-top: 0;
//   }
//   i {
//     font-size: 48px;
//   }
// }
// .action-btn:nth-of-type(2) {
//   i {
//     color: $light-grey;
//   }
//   .favorite {
//     color: $danger;
//   }
// }
// Content Wrapper Styles
.content-wrapper {
}
// Video Wrapper Styles
// .video-player {
//   @include size(100%, 200px);
//   // background-color: orange;
//   text-align: center;
//   margin: 10px 0;
//   @include respond-to($phone-lg) {
//     height: 250px;
//   }
//   @include respond-to($tablet-sm) {
//     height: 300px;
//   }
//   @include respond-to($tablet-md) {
//     margin: 0;
//     height: 350px;
//   }
//   @include respond-to($desktop-sm) {
//     height: 450px;
//   }
//   @include respond-to($desktop-md) {
//     height: 550px;
//   }
//   .watch-btn {
//     color: $off-white;
//     border: $tb-orange;
//     top: 45%;
//   }
// }
// Full-Screen Video Wrapper Styles
// .video-player-fs {
//   position: fixed;
//   right: 0;
//   bottom: 0;
//   min-width: 100%;
//   min-height: 100%;
// }
// .main-video {
//   height: 100%;
//   width: 100%;
// }
// Player Toggle Button Styles
// .toggle-wrapper {
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   flex-wrap: wrap;
//   margin: 10px 0;
//   .toggle-btn {
//     color: $off-white;
//     border: $tb-orange;
//     margin: 5px;
//     @include respond-to($tablet-md) {
//       margin: 10px;
//     }
//   }
// }
// // Ad Space Styles
// .ad-space {
//   @include size(100%, 75px);
//   background-color: cyan;
//   color: white;
//   text-align: center;
//   margin: 10px 0;
//   @include respond-to($tablet-md) {
//     height: 150px;
//     margin: 0;
//   }
// }
// Chat Wrapper Styles
