<!-- Home Container -->
<div class="home-container">
  <!-- Action Buttons -->
  <div class="action-btn-wrapper">
    <a class="action-btn">
      <i class="material-icons">share</i>
    </a>
    <a class="action-btn"
       (click)="setFavorite()">
      <i class="material-icons"
         [ngClass]="{'favorite': isFavorite}">{{favoriteIcon}}</i>
    </a>
    <a class="action-btn"
       routerLink="/store">
      <i class="material-icons">store</i>
    </a>
    <a class="action-btn">
      <i class="material-icons">monetization_on</i>
    </a>
  </div>
  <!-- Video Player, Toggle Buttons, Ad Space -->
  <div class="content-wrapper">
    <div class="video-player"
         *ngIf="!interactionConfirmed">
      <button mat-raised-button
              color="primary"
              class="watch-btn"
              (click)="confirmInteraction()">Ready to watch?</button>
    </div>
    <div *ngIf="interactionConfirmed">
      <div class="video-player"
           *ngFor="let key of vids | keys; let i = index"
           [hidden]="i != selectedVidIndex">
        <video class="main-video"
               loop>
          <source type="video/mp4"
                  [src]="vids[key]"> Your browser does not support HTML5 video tags. Please use a newer browser.
        </video>
      </div>
    </div>

    <div class="toggle-wrapper">
      <button mat-raised-button
              color="primary"
              class="toggle-btn"
              *ngFor="let key of vids | keys; let i = index"
              (click)="pickVid(i)">{{key}}</button>

    </div>
    <div class="ad-space">
      Ad Space
    </div>
  </div>
  <!-- Chat Wrapper -->
  <div class="chat-wrapper">
    <app-chat-box></app-chat-box>
  </div>
</div>