  <!-- Home Container -->
  <div class="home-container">
    <!-- Action Buttons -->
    <div class="action-btn-wrapper">
      <a class="action-btn">
        <i class="material-icons">share</i>
      </a>
      <a class="action-btn" (click)="setFavorite()">
        <i class="material-icons" [ngClass]="{'favorite': isFavorite}">{{favoriteIcon}}</i>
      </a>
      <a class="action-btn" routerLink="/store">
        <i class="material-icons">store</i>
      </a>
      <a class="action-btn">
        <i class="material-icons">monetization_on</i>
      </a>
    </div>
    <!-- Video Player, Toggle Buttons, Ad Space -->
    <div class="content-wrapper">
      <div class="video-player">Video Player</div>
      <div class="toggle-wrapper">
        <button mat-raised-button color="primary" class="toggle-btn">Player Name</button>
        <button mat-raised-button color="primary" class="toggle-btn">Player Name</button>
        <button mat-raised-button color="primary" class="toggle-btn">Player Name</button>
        <button mat-raised-button color="primary" class="toggle-btn">Player Name</button>
      </div>
      <div class="ad-space">
        Ad Space
      </div>
    </div>
    <!-- Chat Wrapper -->
    <div class="chat-wrapper">
      <app-chat-box></app-chat-box>
    </div>
  </div>