<!-- <app-chat-box> -->
  <!-- Home Container -->
  <div class="home-container">
    <!-- Action Buttons -->
    <div class="action-btn-wrapper">
      <div class="action-btn"></div>
      <div class="action-btn"></div>
      <div class="action-btn"></div>
      <div class="action-btn"></div>
    </div>
    <!-- Video Player, Toggle Buttons, Ad Space -->
    <div class="content-wrapper">
      <div class="video-player">Video Player</div>
      <div class="toggle-wrapper">
        <div class="toggle-btn">yup</div>
        <div class="toggle-btn">yup</div>
        <div class="toggle-btn">yup</div>
        <div class="toggle-btn">yup</div>
      </div>
      <div class="ad-space">
        Ad Space
      </div>
    </div>
    <!-- Chat Wrapper -->
    <div class="chat-wrapper">Chat Box</div>
  </div>