@import "../../../scss/vars";
@import "../../../scss/mixins";
// Main Chat Container
.chat-container {
  background-color: #424242;
  padding: 5px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
}
// Header
.chat-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid yellow;
}
.chat-header {
  font-size: 12px;
  color: $primary;
}
.chat-name {
  margin-left: 10px;
  font-size: 12px;
}
// Chat Box
.chat-box {
  height: 60px;
  overflow-y: scroll;
  padding: 10px 5px 5px 5px;
  font-size: 8px;
  margin: 10px 0;
  // border: 1px solid lime;
  @include respond-to($phone-md) {
    height: 80px;
  }
}
// Text Area Styles
.chat-input-wrapper {
  // margin-top: 5px;
  // border: 1px solid orchid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .chat-input {
    width: 65%;
    font-size: 8px;
  }
  textarea {
    max-height: 200px;
    color: $off-white;
  }
  // Chat Button
  .chat-btn {
    color: $off-white;
    font-size: 12px;
    padding: 0 !important;
  }
}

// Scroll Bar Styles
.chat-box::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color: $dark-grey;
}
.chat-box::-webkit-scrollbar {
	width: 12px;
  background-color: #F5F5F5;
  border-radius: 10px;
}
.chat-box::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: $primary;
}
// Message styles
.chat-text {
  text-align: left;
  padding: 5px;
  p {
    font-size: 8px;
    line-height: 12px;
    color: $off-white;
    margin: 0;
  }
}