// Angular Material Prebuilt Theme
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./theme.scss";
// Vars and Mixins
@import "./vars";
@import "./mixins";

* {
  font-family: 'Ubuntu', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: $dark-grey;
}

